<div class="news">
  <h2 class="padding-15px-left">News</h2>
  {% if site.news  %}
    <div class="container">
      <!--<table class="table table-sm table-borderless">-->
      {% assign news = site.news | reverse %}
      {% for item in news limit: site.news_limit %}
        <div class="row">
          <div class="col-sm-2">
            {{ item.date | date: "%b %-d, %Y" }}
          </div>
          <div class="col-sm-10 left-line">
            {% if item.inline %}
              {{ item.content | remove: '<p>' | remove: '</p>' | emojify }}
            {% else %}
              <a class="news-title" href="{{ item.url | relative_url }}">{{item.title}}</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>No news so far...</p>
  {% endif %}
</div>
