/******************************************************************************
 * Content
 ******************************************************************************/

 body {
   padding-bottom: 70px;
   color: var(--global-text-color);
   background-color: var(--global-bg-color);
 }

 body.fixed-top-nav {
   // Add some padding for the nav-bar.
   padding-top: 56px;
 }

 body.sticky-bottom-footer {
   // Remove padding below footer.
   padding-bottom: 0;
 }

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.


/******************************************************************************
 * Publications
 ******************************************************************************/
// TODO: redefine publications layout.
.publications {
  
  .title {
    font-size: 1rem;
  }
  .author {
    font-size: 0.8rem;
  }
  .meta {
    font-size: 0.8rem;
    .links{
      display: inline;
    }
  }

  .language {
    font-size: 75%;
    padding: .2em .4em;
    border-radius: 6px;

    &.eng {
      background-color: $pastel-blue;
    }
    
    &.kor {
      background-color: $pastel-pink;
    }

    color: white;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
  }
  .tags {
    div {
      font-size: 70%;
      margin-left: 1px;
      margin-bottom: 1px;
      padding: .2em .4em;
      border-radius: 2px;
      text-align: justify;
      color: white;
      background-color: $hcid2-color;
    }
  }
}

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.
